  <body>
    <div class="ui fixed menu title">
      <div class="ui container">
        <h1 class="ui header">
          Movie Trailer Website
        </h1>
      </div>
    </div>
    <!-- Modal to play the trailer. -->
    <div class="ui large modal">
      <i class="close icon"></i>
      <div class="image content">
        <div class="ui embed"></div>
      </div>
    </div>
    <!-- Main app content -->
    <div class="ui main container">
      <div class="ui three stackable special cards">
        <!-- Movie detail cards will be rendered here -->
        {movie_cards}
      </div>
    </div>
  </body>

  </html>
